#login-page {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/backgroundLogin.png");
  margin: 0px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#welcome {
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  width: 300px;
}

#title {
  color: white;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 400;
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 25px;
}

@media only screen and (max-width: 500px) {
  #login-page {
    margin: 0px;
    background-color: #1E1E1E;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #title {
    font-size: 20px;
    margin: 15px;
    align-self: flex-start;
    justify-self: flex-start;
  }

  #welcome {
    display: none;
  }

  #stars {
    display: none;
  }

  #tabs {
    background-color: #1e1e1eec;
    padding: 15px;
    border-radius: 8px;
  }

  #tab-list {
    position: inherit;
    margin-bottom: 30px;
  }
}
