#profile-page {
  min-height: 100vh;
  width: 100%;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 414px) {
  #profile-container {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }

  #about-me {
    width: 90vw;
  }

  #user-info {
    margin-bottom: 0px;
  }
}
